@import url("https://fonts.googleapis.com/css2?family=Sofia+Sans+Extra+Condensed:ital,wght@0,1..1000;1,1..1000&display=swap");

.sobreNos,
.maturacao,
.menu,
.horario {
  margin-left: 400px;
  margin-right: 400px;
  margin-top: 35px;
  margin-bottom: 75px;
}

.criacao,
.corte,
.contactos,
.politica {
  padding-left: 400px;
  padding-right: 400px;
  padding-top: 35px;
  padding-bottom: 75px;
  background-color: #fff;
}

.navBar {
  background-color: #000;
  display: flex;
  justify-content: space-between;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 400px;
  padding-right: 400px;
}

.logo {
  width: 180px;
  height: 60px;
}

.topicosCentrais {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 25px;
}

.topicosCentrais li {
  font-family: "Sofia Sans Extra Condensed";
  font-size: 25px;
  text-transform: uppercase;
}

.topicosDireita {
  display: flex;
  align-items: center;
  gap: 10px;
}

.linguas {
  display: flex;
  list-style: none;
  justify-content: flex-end;
  font-family: "Sofia Sans Extra Condensed";
  font-size: 16px;
  gap: 5px;
  margin-top: -7px;
}

.reservarBtn {
  width: 105px;
  height: 40px;
  background-color: #fff;
  font-size: 22px;
  font-family: "Sofia Sans Extra Condensed";
  color: #000;
  border: 0;
  margin-left: 5px;
  margin-bottom: 15px;
  margin-top: 5px;
  text-transform: uppercase;
}

.carrosel {
  width: 100vw;
  height: 70vh;
}

.imagemGrandes {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.title {
  font-family: "Sofia Sans Extra Condensed";
  font-size: 52px;
  letter-spacing: -0.4px;
  text-align: center;
  text-transform: uppercase;
}

.desc {
  font-family: "Sofia Sans Extra Condensed";
  font-size: 25px;
  margin: 25px 50px 50px 50px;
  text-align: center;
  color: #eee;
}

/* SOBRE */

.sobreImgs {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sobreImg1 {
  width: 320px;
  height: 320px;
}

.sobreImg2 {
  width: 650px;
  height: 320px;
}

.sobreVideo {
  margin-top: 35px;
  width: 100%;
  height: 500px;
  background-color: #333;
}

/* CRIACAO */

.criacaoContainer {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 25px;
  margin-top: 25px;
}

.esqCriacao,
.dirCriacao {
  display: flex;
  flex-direction: column;
  gap: 25px;
  flex: 50%;
}

.criacaoImg1 {
  width: 100%;
  height: 320px;
}

.criacaoImg2 {
  width: 100%;
  height: 500px;
}

.esqCriacao p {
  font-family: "Sofia Sans Extra Condensed";
  font-size: 25px;
  color: #333;
}

/* MATURACAO  */
.maturacaoContainer {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 25px;
  margin-top: 25px;
}

.maturacaoEsq,
.maturacaoDireita {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.maturacaoEsq {
  flex: 33%;
  height: 100%;
}

.maturacaoDireita {
  flex: 66%;
}

.maturacaoImgs {
  display: flex;
  gap: 25px;
  align-items: center;
}

.maturacaoImg1 {
  width: auto;
  height: 550px;
}

.maturacaoImg2,
.maturacaoImg3 {
  width: 100%;
  height: auto;
}

/* CORTE */

.cortesImgs {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 35px;
  margin-bottom: 35px;
}

.corteImg1 {
  width: 450px;
  height: 300px;
}

.corteImg2,
.corteImg3 {
  width: 250px;
  height: 300px;
}

/* MENU */
.Imgs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 25px;
  margin-bottom: 45px;
}

.menuImg1,
.menuImg2 {
  width: auto;
  height: 350px;
}

.menuImg3,
.menuImg4 {
  height: 400px;
  width: auto;
}

.menuImg5 {
  height: 350px;
  width: auto;
}

.menuImg6 {
  width: 100%;
  height: auto;
}

/* CONTACTOS */

.contactosMain {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 25px;
  margin-bottom: 25px;
  gap: 45px;
}

.contactosContainer {
  display: flex;
  flex-direction: column;
  gap: 45px;
}

.iframe {
  width: 100%;
  height: 320px;
}

.contactosText {
  color: #000;
  font-family: "Sofia Sans Extra Condensed";
  font-size: 25px;
}

.socialsImgs {
  display: flex;
  gap: 15px;
}

.socialImg {
  width: 30px;
  height: 30px;
}

/* HORARIO */

.horarioText {
  font-family: "Sofia Sans Extra Condensed";
  font-size: 42px;
  text-align: center;
}

/* POLITICA */
.politicaText1,
.politicaText2 {
  font-family: "Sofia Sans Extra Condensed";
  font-size: 32px;
  text-align: center;
  color: #000;
}
